{% extends 'base.html' %}


{% block content %}
<div class="title-area text-center py-5 d-flex" style="background-image: url({{ movie.poster.url }});">
    <div class="m-auto">
        <h1 class="title mb-3 font-weight-bold movie-name">{{ movie.name }}</h1>
        <p class="mb-3 mx-auto movie-name">
            {{ movie.year }}</span>
        </p>
        <button type="button" class="btn add_comp" data-toggle="modal" data-target="#addToComp">
            Добавить в подборку
        </button>
    </div>
</div>

<div class="container mt-5">
    <section class="about mb-5">
        <h2 class="mb-3 text-center text-uppercase font-weight-bold">О фильме</h2>
        <p>{{ movie.html | safe }}</p>
    </section>
    <section class="about mb-5">
        <h5 class="mb-3 text-uppercase font-weight-bold">В ролях</h5>
        <p>{{ movie.actors }}</p>
    </section>
    <section class="about mb-5">
        <h5 class="mb-3 text-uppercase font-weight-bold">Режиссёр</h5>
        <p>{{ movie.producer }}</p>
    </section>
    <section class="about mb-5">
        <h5 class="mb-3 text-uppercase font-weight-bold">Продолжительность</h5>
        <p>{{ movie.duration }} мин.</p>
    </section>

    

    <hr>

    <h4 class="mb-3 text-center text-uppercase font-weight-bold">Рецензии</h4>


    {% if current_user.is_authenticated %}
        {% if checker %}
            <h4>Спасибо, что оставили рецензию!</h4>
        {% else %}
        <div class="text-center">
            <a href="{{ url_for('movies.review_generator', movie_id=movie.id)}}" type="button" class="btn btn-smotr mt-3 mx-auto">
                Оставить рецензию
            </a>
        </div>
        {% endif %}
    {% else %}
    <h3>Войдите в систему, чтобы оставлять рецензии.</h3>
    {% endif %}

    {% for review in reviews %}
        <div class="media-block mt-5">
            <div class="row">
                <div class="col-md-2 mt-2">
                    <div class="profile">
                        <img width='100' class="rounded-circle cursor-pointer ml-5"
                        src="{{ url_for('static', filename='images/default-profile-picture-300x300.jpeg') }}" alt="profile-pic">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="media-body">
                        <div class="row">
                            <p class="btn-link text-semibold media-heading box-inline comments-name"> 
                                {{review.user.full_name}}
                            </p>
                            <p class="text-muted ml-4"><i class="fa fa-mobile fa-lg comments-name">{{ review.created_at }}</i></p>
                        </div>
                        <div class="row">
                            <p class="text-muted text-sm"><b class="fa fa-mobile fa-lg comments-name">Оценка: {{ review.rating }}</b></p>
                        </div>
                        <p name="text">{{ review.html | safe }}</p>
                    </div>
                </div>  
            </div>
        </div>

        <hr>
    {% endfor %}
</div>





<div id="addToComp" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить в подборку</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('movies.add_to_comp', movie_id=movie.id) }}">
                    <label for="complitations">Название подборки</label>
                    <select class="form-control" data-live-search="true" name="complitations" id="complitations">
                        {% for complitation in complitations %}
                            <option value="{{ complitation.id }}" >{{ complitation.name }} </option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="d-none" id="addCompSubmit">
                </form>
            </div>
            <div class="modal-footer">
                <label for="addCompSubmit" class="btn btn-smotr mb-0">Добавить</label>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}