{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Заголовок поста</h1>
    <div class="info">
        {{ post.author }}, {{ post .date.strftime('%d.%m.%Y')}}
    </div>
    <div>
        <img class='picture mt-3 mb-5' src="{{ url_for('static', filename='images/' ~ post.image_filename) }}" alt="Card image cap" width='700px'>
    </div>
    <div class="text-justify d-flex align-items-center">
        <p>
            {{ post.text }}
        </p>
    </div>
    <div class="comment mb-4" >
      <form name='comment' method='post' >
        <p class='comment-sentence p-3'>
          Оставьте комментарий
        </p>
        <div class='p-3'>
          <textarea class='area-sector'>
          </textarea>
        </div>
        <p class='ml-3'>
          <button type="submit" class="btn btn-primary">Отправить</button>
        </p>
      </form>
    </div>
    {% for comment in post.comments %}
      <div class="media mt-5">
        <img class='mr-3' src="{{ url_for('static', filename='images/round.png') }}" alt='' width='80px'>
        <div class="media-body">
          <h5 class="mt-0">{{ comment.author }}</h5>
          {{ comment.text }}
          {% for replie in comment.replies %}
            <div class="media mt-3">
              <img class='mr-3' src="{{ url_for('static', filename='images/round.png') }}" alt='' width='80px'>
              <div class="media-body">
                <h5 class="mt-0">{{ replie.author }}</h5>
                {{ replie.text }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}